# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
.vs
*.tlog
*.idb

# Dependencies
ext/Ogre
/ext/SDL2
/vs_build/x64/Debug/
/vs_build/x64/Release/
*.FileListAbsolute.txt
*.CopyComplete
/ext/boost
*.recipe
/ext/fmt
/vs_build/packages
/vs_build/DwarfEditor/x64/Debug/
/vs_build/DwarfEditor/x64/Release/
/vs_build/Platform/x64/Debug/
/vs_build/Platform/x64/Release/
/ext/FreeType
/res/DwarfEditor/Ogre/Hlms
